{% extends 'base.html.twig'%}

{% block body %}
<h1>{{title}}</h1>

{% if age > 18 %}
<p>Tu es majeur</p>
{% else %}
<p>Tu es mineur</p>
{% endif %}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore vitae asperiores est maiores itaque obcaecati, tenetur dolore nisi ab repudiandae voluptatem, repellendus sed temporibus totam nihil delectus? Unde asperiores corrupti tenetur modi. Soluta unde, culpa alias accusamus sit est nesciunt!</p>
<p>Dolorem voluptatem, porro vero necessitatibus nam recusandae id iste blanditiis debitis rem hic dolores doloremque voluptatibus accusamus. Ipsam, quibusdam ipsum in at amet, facilis illo natus esse quas, labore eaque rerum id accusantium suscipit! Sit fugit dolorem sequi ipsam maiores.</p>
{% endblock %}